<div style="height: 300px; width:100%;">
    <div>
        <p style="float: left;"> <img src="http://grupomundialmix.com.br/assinaturaImagens/Logos.png" height="150px"
                width="230px"> </p>
    </div>
    <div style="height: 180px; border-right: 1px solid black; float: left;"> </div>
    <div style="float: left;  padding-left: 10px;">
        <p style="font-size: 25px;font-weight: bold; margin: 0;color: black;"> Reinaldo Ramos </p>
        <p style="font-size: 20px;font-weight: bold; margin: 0;color: black;"> testes </p> </br>
        <p style="font-size: 25px;font-weight: bold; margin: 0;color: grey;">+55 48996628560</p>
        <p style="font-size: 16px; margin: 0;color: grey;">Rua Zacarias Vieira</p>
        <p style="font-size: 16px; margin: 0;color: grey;">88125000</p> </br> <a
            href="https://www.facebook.com/superimperatriz/"><img
                src="http://grupomundialmix.com.br/assinaturaImagens/lface.png" alt="facebook"
                style="width:30px;height:30px;"></a> <a href="https://www.instagram.com/super_imperatriz/"><img
                src="http://grupomundialmix.com.br/assinaturaImagens/linsta.png" alt="instagram"
                style="width:30px;height:30px;"></a>
    </div>
    <div style="float: left; align-items: center; width: 250px;"> <img
            src="http://chart.apis.google.com/chart?cht=qr&chl=BEGIN:VCARD%0AVERSION:2.1%0AN:Reinaldo Ramos%0AORG:Grupo MUNDIALMIX%0AEMAIL:Gamersolitavi4l@gmail.com%0ATEL: +55 48996628560%0AEND:VCARD&chs=200x200">
    </div>
    <div style="float: left; font-size: 10px; padding-left:25px;font-style: italic;">
        <p>Prezado(a), o Grupo Mundial Mix valoriza a privacidade e proteção dos seus dados pessoais, em conformidade
            com a Lei Geral de Proteção de Dados Pessoais(13.709/18), os dados deste e-mail ficarão mantidos em nossos
            bancos de dados pelo período de 5 anos, para eventuais consultas e não serão compartilhados com terceiros,
            sendo após este período devidamente descartado, salvo cumprimento de obrigação legal.</p>
        <p>Esta mensagem pode conter informações confidenciais e/ou privilegiadas. Se você não for o destinatário ou a
            pessoa autorizada a receber esta mensagem, não deve usar, copiar ou divulgar informações nela contidas ou
            tomar qualquer ação baseada nessas informações. Se você recebeu esta mensagem por engano, por favor nos
            comunique imediatamente, respondendo a mensagem e excluindo-a do seu computador. </p>
        <p> Em caso de duvida ou exclusão quanto aos seus dados entre em contato com nosso encarregado de dados pelo
            email dpo@grupomundialmix.com.br </p>
    </div>
</div>